@import './blocks/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-base;
  font-style: normal;
}

@import './blocks/card';
@import './blocks/stars';
